.times-of-day {
    width: 100%;
    height: 300px;
    background-color: hsl(194, 78%, 28%);

    .times-header {}

    .times-data {}

    .times-subtitle {
        font-size: 25px;
        padding-bottom: 20px;
    }

}